/* ProfilePage.css */
.profile-page {
  max-width: 900px;
  margin: 24px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #cafec959;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7), 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
}

.profile-title {
  text-align: center;
  margin-bottom: 16px;
}

.profile-bio, .profile-recipes {
  padding: 16px;
  border: 3px solid #ffffff;
  border-radius: 16px;
  background-color: #ffffffdd;
}

.bio-textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #1f702c;
  font-size: 16px;
}

.bio-buttons {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

/*.btn-save, .btn-cancel, .btn-edit {
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid #1f6f2c;
  background: #1f702c;
  color: white;
  font-weight: 600;
  cursor: pointer;
}*/

.btn-cancel {
  background: #c1121f;
  border-color: #900f15;
}

.bio-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 12px;
}

.recipe-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recipe-card {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #1f702c;
  background-color: #f0fff0;
  font-weight: 600;
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.no-recipes {
  text-align: center;
  font-size: 15px;
  color: #555;
}

.loading-text {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}
