

.signin {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(520px, 1fr) 420px;
  align-items: stretch;
}

.signin {
  min-width: 900px;
  align-items: center;
  
}

.signin__left {
  min-width: 520px;    
  height: 100vh;
  overflow: hidden;
}

.signin__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
  


.signin__right {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  padding: 64px;
  background: #fff;
}



.signin__title {
  font-family: "Fredericka the Great", cursive;
  font-size: 42px;
  font-weight: 800;
  color: #254624ff; 
  text-align: start;
  display: flex;
  
}

.signin form {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.signin form > div {
  display: grid;
  gap: 6px;

} 

.signin label {
  align-self: flex-start;
  font-size: 16px;
}

.signin input {
  height: 34px;
  border: 1px solid #111;
  padding: 6px 10px;
  font-size: 14px;
}


.signin__actions {
  display: grid;
  gap: 10px;
  margin-top: 6px;
}

.signin__btn {
  height: 36px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
  background: #b7ffb7;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
.cancel__btn {
  height: 36px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
  background: #b7ffb7;
  
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
