  #root {  
  margin: 0 ;
  background-image: url("./assets/foodbg.png");
  text-align: center;
 }


.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  padding: 24px;
}
