


:root {
  --green: #b7ffb7;
  --green-dark: #1f6d2c;
  --line: #2fbf2f;
  --text: #254624ff;
}


.public-home {
  background-image: url("../../assets/foodbg.png"); 
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
}
h1 {
  font-size: 45px;
}

.p-public-home{
  font-size: 20px;
}


.public-home > * {
  position: relative;
  z-index: 1;
  
}

/* HEADER */
.public-home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: #1f6d2c;
  padding: 15px;
  border-bottom: 2px solid var(--line); 
}

.logo {
  margin: 0;
  font-family: "Fredericka the Great", cursive;
  font-size: 46px;
  color: #285730;
  text-shadow: 0 2px 0 rgba(158, 158, 158, 0.5);
  
}

.main {
  padding-top: 50px;
  
}


.main-actions {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 12px 0 26px;
  padding: 15px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  border-radius: 999px; 
  font-weight: 700;
  border: 1px solid var(--line);
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  text-decoration: none;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.05s ease;
}

.btn:active {
  transform: translateY(2px);
}
.features { display: grid; 
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 26px;
  margin-top: 54px;
  position: relative;
  padding: 44px 55px;
  place-items: center;
}
.features > * {
  background: rgba(183, 255, 183, 0.75);
  border: 2px solid #2fbf2f;
  border-radius: 18px;
  padding: 26px 18px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
  width: 70%;
}
.features img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  display: block;
  margin: 2px auto 12px;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
